<div class="container">
  <% breadcrumb :sign_up %>
  <div class="d-flex flex-column text-center">
    <div class="">
      <h4>新規会員登録</h4>
    </div>

    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group mt-3">
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, placeholder: "ニックネーム", autofocus: true %>
        </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, placeholder: "パスワード", autocomplete: "new-password" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, placeholder: "パスワード", autocomplete: "new-password" %>
      </div>
    </div>

    <div class="form-group">
      <div class="actions">
        <%= f.submit "新規会員登録" %>
      </div>
    </div>
    <% end %>
      
    <div class="form-group border-top"></div>
    <div class="form-group">
      <p>アカウントをお持ちの場合はこちらから</p>
      <%= link_to 'ログイン', new_user_session_path %>
    </div>

<!--<%= render "devise/shared/links" %>-->
  </div>
</div>