<div class="container">
  <div class="row">
    "<%= @search %>"の検索結果
    - <%= @posts.count %>件
  </div>
  <div class="row">
    <div class="col-9 d-flex flex-wrap justify-content-center mt-5">
      <% @posts.each do |post| %>
        <div class="d-flex flex-column mx-3">
            <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag post, :image, :fill, 150, 150 %></br>
              <%= post.title %>
            <% end %>
            <span class="d-flex justify-content-between">
              <%= link_to post.user.name, user_path(post.user.id) %>
              <% if user_signed_in? %>
                <div class=<%="favorite-btn" + post.id.to_s %>>
                  <%= render 'favorites/favorite-btn', post:post %>
                </div>
              <%else%>
                ♡<%= post.favorites.count %>
              <%end%>
            </span>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3 mt-5">
      <%= render 'posts/tag', tag_list:@tag_list %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 d-flex justify-content-center mt-5">
      <%= paginate @post_pages %>
    </div>
  </div>
</div>